body{
	background-color: #393E46;
}
.container{
	width: 70%;
	margin: auto;
	text-align: center;
}
div{
	display: block;
}
.dice{
	text-align: center;
	display: inline-block;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  transform: rotate(20deg);
}
button{
  margin: 30px;
  width: 100px;
  height: 50px;
  background-color: #aa4dbf;
  color: #4ECCA3;
  text-align: center;
  font-weight: bold;
  font-family: 'Lobster', cursive;
}